/* Notica de CSS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.yellow {
    background-color: yellow;
    padding: 20px;
} 

.blue {
    background-color: blue;
    padding: 20px;
}

.red {
    background-color: red;
    padding: 20px;
}

.pink {
    background-color: pink;
    padding: 20px;
}

.purple {
    background-color: purple;
    padding: 20px;
}

.brown {
    background-color: brown;
    padding: 20px;
}

.green {
    background-color: green;
    padding: 20px;
}

.long {
    height: 200px;
}

.long2 {
    height: 50px;
    padding: 0;
}